body {
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    height: auto;
}

.container-navbar {
    background: linear-gradient(to bottom, #2349b2, #3B82F6);
    height: 13.5vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    box-shadow: -1px 7px 15px -4px rgba(74, 74, 74, 0.75);
    -webkit-box-shadow: -1px 7px 15px -4px rgba(74, 74, 74, 0.75);
    -moz-box-shadow: -1px 7px 15px -4px rgba(74, 74, 74, 0.75);
    position: fixed;
    gap: 25rem;
}


.img-navbar {
    width: auto;
    height: 55%;
    border-radius: 8px;
    box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
}

/* Humberger */
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.ul-navbar {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.li-navbar {
    list-style-type: none;
}

.a-navbar {
    color: #f5f5f5;
    text-decoration: none;
    padding: 10px;
}

.a-navbar:hover {
    background-color: rgb(255, 217, 0);
    color: #2349b2;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
    box-shadow: -1px 7px 15px -4px rgba(74, 74, 74, 0.75);
    -webkit-box-shadow: -1px 7px 15px -4px rgba(74, 74, 74, 0.75);
    -moz-box-shadow: -1px 7px 15px -4px rgba(74, 74, 74, 0.75);
}

.container-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: #3B82F6;
}

.container-about {
    font-family: "inter", serif;
    margin-top: 25vh;
    background: linear-gradient(to right, #eaeaea, #e0e0e0, #cccccc);
    height: auto;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 4px 1px 50px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.title-about {
    color: #0c3cbf;
}

.container-img-about {
    height: auto;
    width: auto;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-left: 75px;
    margin-right: 75px;
}

.img-about {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
}

section h1 {
    color:#2349b2;
}

.visi-misi ul {
    list-style-type: square;
}

.latar-belakang {
    text-align: justify;
}

.container-organisasi {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15vh;
    height: 75%;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.title-organisasi {
    color: rgb(255, 183, 0);
}

.container-img-organisasi {
    height: 300px;
    width: 240px;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
}

.img-organisasi {
    height: 250px;
    width: 190px;
}

.text-osis {
    text-align: left;
}

.container-academy1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    width: 75%;
}

.container-unggulan {
    height: 370px;
    width: 420px;
}

.header-unggulan {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 10px;
}

.list-unggulan {
    list-style-type: square;
}


.container-ekskul {
    height: 370px;
    width: 420px;
}

.header-ekskul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 10px;
}

.list-ekskul {
    list-style-type: square;
}

.container-academy2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
}

.container-fasilitas {
    height: 520px;
    width: 430px;
}

.header-fasilitas {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 10px;
}

.list-fasilitas {
    list-style-type: square;
}

.container-prestasi {
    height: 520px;
    width: 420px;
}

.header-prestasi {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 10px;
}

.list-prestasi {
    list-style-type: square;
}

footer {
    margin-top: 300px;
    height: auto;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

.footer-info {
    color: #f5f5f5;
    padding-left: 10px;
    padding-top: 10px;
}

.footer-info a {
    color: blue;
}

.footer-contact {
    display: flex;
    gap: 2rem;
    margin-top: 110px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.instagram {
    height: 50px;
    width: 50px;
    background-color: rgb(182, 10, 182);
    display: grid;
    place-content: center;
    border-radius: 50%;
    color: #f5f5f5;
}

.instagram:hover {
    background-color: rgb(135, 13, 135);
}

.youtube {
    height: 50px;
    width: 50px;
    background-color: rgb(230, 39, 39);
    display: grid;
    place-content: center;
    border-radius: 50%;
    color: #f5f5f5;
}

.youtube:hover {
    background-color: rgb(162, 8, 8);
}

.footer-right {
    display: grid;
    place-content: center;
}

.footer-right div {
    height: auto;
    width: auto;
    padding-right: 50px;
}

.map {
    width: 100%;
    height: 100%;
}

/* Responisif */
@media screen and (max-width: 1100px) {
    .container-navbar {
        gap: 10rem;
    }
}

@media screen and (max-width: 1024px) {
    .container-organisasi {
        height: auto;
        width: 75%;
    }

    .container-academy1 {
        flex-direction: column;
    }

    .container-academy2 {
        flex-direction: column;
    }

    .container-fasilitas {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 880px) {
    .container-navbar {
        gap: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .container-img-about {
        width: 90%;
        height: 90%;
    }

    .container-navbar {
        justify-content: space-around;
    }

    .menu-toggle {
        display: block; /* Tampilkan ikon menu */
    }

    .ul-navbar {
        display: none; /* Sembunyikan menu saat awal */
        flex-direction: column;
        position: absolute;
        top: 11.3vh;
        left: 0;
        width: 100%;
        background-color: #2349b2;
        text-align: center;
        z-index: 1000;
        padding: 10px;
        opacity: 50%;
    }

    .ul-navbar.active {
        display: flex;
    }

    .li-navbar {
        margin: 10px 0;
    }
}

@media screen and (max-width: 600px) {
    footer {
        display: grid;
        place-content: center;
        padding-bottom: 50px;
    }

    .map {
        margin-top: 30px;
    }
}
@media screen and (max-width: 400px) {
    .container-academy1 {
        margin-left: 50px;
    }

    .container-academy2 {
        margin-left: 50px;
    }

    .title-about {
        font-size: 30px;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    b p {
        font-size: 20px;
    }
}

@media screen and (max-width: 371px) {
    .title-about {
        font-size: 20px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 17px;
    }

    h4 {
        font-size: 17px;
    }

    b p {
        font-size: 17px
    }
}